// Example of how to import scss
@import 'colors';
@import 'foundation';

body {
  background: $background;
}

.row {
  padding: 0 1rem;
}

h1 {
  color: $secondary;
}

#ben {
  color: $primary;
  font-weight: 900;
}

